@font-face {
  font-family: "HelveticaNeue";
  src: url("/fonts/HelveticaNeue-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeue";
  src: url("/fonts/HelveticaNeue-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeue";
  src: url("/fonts/HelveticaNeue-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
}

h1,
h2,
h3 {
  font-family: "HelveticaNeueBold", sans-serif;
  color: #d9311e;
}

p,
li,
ul {
  font-family: "HelveticaNeueLight", sans-serif;
}
