---

---

<div class="hero-content">
  <img class="hero_logo" src="../public/imgs/logowhite.svg" alt="ORSA x bareen" />
  <h1>social brew</h1>

  <video autoplay muted loop playsinline>
    <source src="../public/vids/video.mp4" type="video/mp4" />Your browser does not support the video tag.
  </video>
</div>

<style>
  h1 {
    color: white;
    position: absolute;
    top: 0rem;
    left: 0rem;
  }

  .hero_logo {
    position: absolute;
    top: 0rem;
    left: 0rem;
  }
  .hero-content {
    position: relative;
  }
  .hero-content video {
    width: 100%;
    height: auto;
  }
</style>
